@import url("./00-tokens.css");
@import url("./01-base.css");
@import url("./02-background.css");
@import url("./03-layout-swiper.css");
@import url("./04-components-common.css");
@import url("./04-components-skills.css");
@import url("./05-partner-wall.css");
@import url("./06-poster.css");
@import url("./07-constellation.css");
@import url("./08-film.css");
@import url("./09-heatmap.css");
@import url("./10-envelope.css");
@import url("./11-game.css");
@import url("./12-overlays.css");
@import url("./99-animations.css");
